# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Firebase
GoogleService-Info.plist

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# その他
*.swp
*~


