# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Firebase
GoogleService-Info.plist

# AdMob設定（本番用App ID）
iDev-Tango-Info.plist

# GitHub Token（Personal Access Token）
GitHub-Info.plist

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# その他
*.swp
*~








