<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6898713833552918~3698198006</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>あなたに関連性の高い広告を表示するために使用します。許可しない場合でもアプリは通常通りご利用いただけます。</string>
</dict>
</plist>
